<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width" charset="UTF-8">
		<title>Steven (FWD) - TicTacToe</title>
		
		<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.6/css/bootstrap.min.css">
		<script type="text/javascript" src="webjars/jquery/1.9.1/jquery.min.js"></script>
		
		<link rel="stylesheet" type="text/css" href="css/tic_tac_toe.css">
		<script type="text/javascript" src="js/tic_tac_toe.js"></script>
	</head>
	
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center header">
					<h1>Steven (FWD) - TicTacToe</h1>
					<button id="btnRematch" class="btn btn-primary playAgain w-100">Rematch</button>
					<button id="btnQuick" class="btn btn-danger quit w-100">Quit</button>
				</div>
			</div>
			
			<!-- Modal box -->
			<div class="modal fade" id="gameModal" tabindex="-1" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Game Results</h4>
						</div>
						
						<div class="modal-body">
                            <p id="gameResults"></p>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
					</div>
				</div>
			</div>
		</div>	
		
		<!-- TicTacToe Body Section -->
		<div class="text-center" th:each="x,iter: ${game.board.square}">
			<div th:each="y, iter2: ${game.board.square[iter.index]}" 
				class="square"
				style="width: 200px; display: inline-block; vertical-align: bottom;"
				th:attr="data-el_square=${iter.index} + '_' + ${iter2.index}">
				<span th:text="${y}"></span>
			</div>
		</div>
		
		<!-- hidden input -->
		<input type="hidden" id="txtPlayerTurn" th:value="${game.playerTurn}">
		<input type="hidden" id="txtGameStatus" th:value="${game.statusType}">
		<input type="hidden" id="txtAllowRequestAPI" value="YN_Y">
	</body>
</html>